{% extends "base.html" %}

{% block content %}
<div class="container">
{% if form.pulse.data <= 60 and form.pressure.data <= 120.80 %}
    <p>Ваши показатели пульса находятся ниже нормы, а давление в пределах нормы. Рекомендуется обратиться к врачу для более подробной оценки вашего сердечно-сосудистого здоровья. Пониженный пульс может быть вызван различными факторами, и профессиональная консультация поможет выявить причины.</p>
{% elif form.pulse.data <= 60 and form.pressure.data == 120.80 %}
    <p>Обнаружен пониженный пульс при давлении, близком к норме. Рекомендуется уделить внимание здоровому образу жизни, включая здоровое питание и умеренную физическую активность. Следите за своими показателями и в случае необходимости обсудите их с врачом.</p>
{% elif form.pulse.data <= 60 and form.pressure.data >= 120.80 %}
    <p>Обнаружены низкий пульс и повышенное давление. Это может быть сигналом о наличии некоторых проблем со здоровьем. Настоятельно рекомендуется обратиться к врачу для проведения полного медицинского обследования и выявления возможных причин.</p>
{% elif 60 <= form.pulse.data < 100 and form.pressure.data <= 120.80  %}
    <p>У вас нормальное или приблизительно нормальное давление при пульсе около 60 ударов в минуту. Рекомендуется продолжать здоровый образ жизни с умеренной физической активностью, чтобы поддерживать эти хорошие показатели здоровья.</p>
{% elif 60 <= form.pulse.data < 100 and form.pressure.data == 120.80 %}
    <p>Ваши показатели пульса и давления находятся в пределах нормы или близки к норме. Это хорошие показатели здоровья! Продолжайте вести здоровый образ жизни, чтобы поддерживать эти значения.</p>
{% elif 60 <= form.pulse.data < 100 and form.pressure.data >= 120.80 %}
    <p>Наблюдается нормальный пульс при повышенных значениях давления. Это может быть предупреждением о риске для вашего сердечно-сосудистого здоровья. Рекомендуется немедленно проконсультироваться с врачом.</p>
{% elif form.pulse.data > 60 and form.pressure.data >= 120.80 %}
    <p>Вы показываете повышенный пульс при нормальном давлении. Рекомендуется обратить внимание на факторы, такие как стресс или физическая активность, которые могут повлиять на ваш пульс, и обсудить его с вашим врачом при необходимости.</p>
{% elif form.pulse.data > 60 and form.pressure.data == 120.80 %}
    <p>Обнаружен повышенный пульс при приближенных к норме значениях давления. Рекомендуется уделить внимание режиму дня, уровню стресса и физической активности для поддержания здоровья сердечно-сосудистой системы.</p>
{% elif form.pulse.data > 60 and form.pressure.data <= 120.80 %}
    <p>Повышенный пульс в сочетании с повышенным давлением может указывать на риск для вашего сердечно-сосудистого здоровья. Рекомендуется срочно обратиться к врачу для проведения полного медицинского обследования и установления оптимального плана лечения.</p>
{% else %}
    <h1>Ошибка</h1>
{% endif %}
</div>

<form action="/history" method="get">
    <input type="hidden" name="username" value="{{ form.name.data }}"> 
    <button type="submit" class="btnn btn-primary profilebtn">История данных</button>
</form>


{% endblock %}  